#canton-descr {
  
  float:right;
}

#end-card {
  background-color: #555;
}

#dev {
  text-align: left;
  color: lightgray;
}

#tree {
  text-align: right;
  color: lightgray;
}

#git {
  text-align: center;
  color: lightgray;
}

.full-size {
  height: 100%;
  width: 100%;
}

.button-item button {
  padding: 3px 3px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.button-item button:hover {
  background-color: #e0e0e0;
}

.button-item button:focus {
  outline: none;
}

.button-item button.active {
    background-color: #bcbcbd; 
  }

.button-item2 button.active {
    background-color: #bbbbbd;
  }


.small-text {
  font-size: 14px;
}