#canton-descr {
  float:right;
}


/* Style for the footer */
#end-card {
  background-color: gray; /* Light gray background */
}

/* Style for each column */
#dev,
#git,
#tree {
  padding: 20px; /* Adjust padding as needed */
  color: white;
}

/* Style for headings within each column */
#dev {
  text-align: left; 

}
#git {
  text-align: center; 
}

#tree {
  text-align: right; /* Align all text content within the #tree element to the right */
}


/* Style for links within the git column */
#git a {
  display: block; /* Make the link a block element */
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline */
}

#git a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.full-size {
  height: 100%;
  width: 100%;
}

.button-item button {
  padding: 3px 3px;
  border-radius: 5px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.button-item button:hover {
  background-color: #e0e0e0;
}

.button-item button:focus {
  outline: none;
}

.button-item button.active {
    background-color: #bcbcbd; 
}

.button-item2 button.active {
    background-color: #bbbbbd;
}
